body {
  background-color: rgb(231, 227, 227);
}
#search {
  width: 796px;
  margin-bottom: -5px;
}
.appDisplay {
  text-align: center;
  background-color: white;
  width: 800px;
  height: 100%;
  margin-left: 34%;
  border: 2px solid rgb(231, 227, 227);
  border-radius: 5px;
}
